table th,
td {
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

button.primary {
  padding: 6px 23px;
  background-color: lightskyblue;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-right: 1rem;
}

button.seconadary {
  padding: 6px 20px;
  background-color: green;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
