.list_container,
.list_container th,
.list_container td {
  border: 1px solid white;
  border-collapse: separate;
}

.list_container th,
.list_container td {
  background-color: #f1eaff;
  border-style: outset;
}

.list_container th,
td {
  padding: 10px;
  text-align: center;
}

.list_container th {
  font-size: 18px;
  font-weight: 700;
}

.list_container td {
  font-size: 15px;
  font-weight: 500;
}

.list_container {
  width: 100%;
  text-align: center;
}

button.updatebtn {
  padding: 1px 15px;
  background-color: transparent;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

button.editbtn {
  padding: 1px 15px;
  background-color: transparent;
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

button.deletebtn {
  padding: 1px 15px;
  background-color: transparent;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
